@import "tailwindcss";

body::-webkit-scrollbar {
    display: none;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@layer base {
  :root {
    --bg: #ffffff;
    --text: #1a1a2e;
  }

  .dark {
    --bg: #1a1a2e;
    --text: #f0f0f0;
  }

  body {
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
  }
}