@import "tailwindcss";


@layer base {
  :root {
    --bg: #ffffff;
    --text: #1a1a2e;
  }

  /* Вместо [data-theme="dark"] используем .dark */
  .dark {
    --bg: #1a1a2e;
    --text: #f0f0f0;
  }

  body {
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
  }
}